section {
    background-color: grey;
    width: 400px;
    height: 800px;
}
div {
    background-color: darksalmon;
    width: 50%;
    height: 50%;
}
/* #ems h1{
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}
#ems h2{
    font-size: 4em;
    margin-left: 1em;
}
#ems h3{
    font-size: 5em;
} */
#ems p{
    font-size: .8em;
}
#ems article{
    font-size:15px;
}
#ems button{
    font-size: 1em;
    padding: 0 30px;
    border-radius: .5em;
    background-color: aquamarine;
    color: white;
}
#ems ul{
    font-size: 1.5em;
}

hr{
    margin: 100px;
}

#rems h2{
    font-size: 3rem;
}
#rems h3{
    font-size: 2rem;
}
#rems ul{
    font-size: 1.3rem;
}
#rems button{
    font-size: 1.5rem;
}